
@media (max-width: 600px) {
    .b-1{
        order:0 !important;
        display: flex;
    }
    .b-2{
        order: 1 !important;
        display: flex;
    }
    .btn{
        width: 60% ;
        margin: auto;
        text-align: center;
    }
    .bt{
        text-align: center;
        align-items: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 13px !important;
    }
    .nvv{
        font-size: 15px !important;
    }
    .hh{
        padding-top: 120px !important;
    }
    .bb{
        text-align: center !important;
        align-items: center;
        display: flex;
        justify-content: center;
    }

}

.nv{
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.6px);
    -webkit-backdrop-filter: blur(10.6px);
    border: 1px solid rgba(255, 255, 255, 0.24);
    }
.nvv{
    font-size: 18px !important;
}

